################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RaufApiGateways/RaufApiGateways/.vs/RaufApiGateways/v16
/RaufApiGateways/RaufApiGateways/RaufApiGateways/bin/Debug/netcoreapp3.1
/RaufApiGateways/RaufApiGateways/RaufApiGateways/obj
/RaufApiGateways/RaufApiGateways/.vs/RaufApiGateways/config
/RaufApiGateways/RaufApiGateways/.vs/RaufApiGateways/DesignTimeBuild
